@use '@/styles/variables' as v;

.user-profile-tile {
    margin: .5rem;
    display: flex;

    .user-profile__image-container {
        width: 39vw;
        height: 39vw;
    }

    .user-profile__content-layout {
        background-color: v.$spring-wood;
        border-radius: .5rem;
        width: 61vw;
        height: 39vw;
        padding: .5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .user-profile__info-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            height: 100%
        }

        .user-profile__content-layout-bottom {
            height: 30%;
        }
    }
}