@import '@/styles/globals-colors';

.reset-password-page {
    width: 100vw;

    .reset-password-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 222px);
        background-color: $honey-yellow-alpha;

        .reset-password-container-box {
            gap: 1rem;
            display: flex;
            flex-direction: column;

            h3 {
                text-align: center;
                margin-bottom: 1rem;
            }
        }
    }
}