@import "@/styles/globals-colors";
@import "@/styles/globals-constants";

.input-checkbox {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    user-select: none;
    width: 300px;

    .input-container {
        input[type="checkbox"] {
            width: calc(1em * $phi);
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            transition: box-shadow 0.3s;
            background: $orange-yellow-crayola;
            cursor: pointer;
            border: 0.2em outset $cooper;
            appearance: none;
            -webkit-appearance: none;
        }

        input[type="checkbox"]:hover {
            /* background: $cooper-alpha; */
            transition: 618ms;
        }

        input[type="checkbox"]:checked {
            box-shadow: inset 0 0 0 30px $cooper;
        }
    }

    .label-container {
        label {
            cursor: pointer;
            margin-top: .1rem;
            margin-left: .5rem;
        }
    }
}