.input-image {
    .center-horizontally {
        display: flex;
        justify-content: center;
    }

    .input-file {
        display: none;
    }

    .uploaded-image {
        margin: 1rem 0;
    }
}