@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

#search-query-part,
#dish-result-part {
    padding: v.$major-rem 10% 0 10%;
}

#dish-result-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-query-part {
    background-color: v.$spring-wood;
    padding-top: 5rem;

    .ingredient-category-container {
        display: flex;
        flex-wrap: wrap;
        border-radius: 0 0 20px 20px;

        > * {
            width: 33%;
        }
    }
}

.search-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: v.$major-rem 0;
    background-color: v.$spring-wood;
}

#form-content-container {
    background-color: v.$spring-wood;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .type-details {
        flex-direction: column;

        .type-details__container {
            width: 25%;
            padding-top: 1rem;

            h5 {
                text-align: center;
            }

            .time-period-container {
                display: flex;
                justify-content: space-between;
            }

            .period-text {
                margin: 0 v.$major-rem;
                text-align: center;
            }
        }
    }
}

.search-controls {
    button + button {
        margin-left: 1rem;
    }
}

@include m.respond(mobile) {
    #form-content-container {
        .type-container {
            flex-direction: column;
        }

        .type-details {
            .type-details__container {
                width: 100%;
                padding: 1rem;
            }
        }
    }

    #search-query-part,
    #dish-result-part {
        padding: v.$major-rem v.$minor-rem 0 v.$minor-rem;
    }

    #search-query-part {
        .ingredient-category-container {
            display: block;

            > * {
                width: 100% !important;
            }
        }
    }
}