@import '@/styles/globals-colors';

.search-ingredient-category {
    width: 40%;
    height: fit-content;
    background-color: $orange-yellow-crayola-alpha;
    padding: 8px;
    border-radius: 16px;
    margin: 5%;

    .search-ingredient-category__title {
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        margin-top: 0.6rem;
    }

    .search-ingredient-category__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;

        .search-ingredient-category__ingredient + .search-ingredient-category__ingredient {
            margin-left: 8px;
        }

        .search-ingredient-category__ingredient {
            label {
                cursor: pointer;
                padding: 8px;
                margin: 8px;
                border: 1px solid $cooper-alpha;
                border-radius: 16px;
            }

            input:checked ~ label {
                font-weight: 700;
                color: white;
                background-color: $cooper-alpha;
            }
        }

        span.search-ingredient-category__ingredient {
            label {
                border: 3px solid $cooper-alpha;
                font-weight: 700;
            }
        }
    }
}