@use '@/styles/variables' as v;
@use '@/styles/functions' as f;
@use '@/styles/mixins' as m;

$spc: 8px;
$phi-n: v.$phi;
$golden-ratio-n-2: f.golden-size-n(2);

/* Below 1000px */
@media all and (max-width: 700px) {
    .result-box {
        $in-row: 1;
        $ratio: calc(
                (100vw - $spc * calc($in-row - 1)) /
                ($in-row * $golden-ratio-n-2)
        );

        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - ($ratio * $in-row));
        margin-top: $spc;
        padding-bottom: $spc;
    }
    /*
        Margin above elements, but starting with 3rd one (n+3)
        n+4 means line with 3 elements
    */
    .result-container:nth-child(n + 1) {
        margin-top: $spc;
    }
}
/* 700px-1400px */
@media all and (min-width: 700px) and (max-width: 1400px) {
    .result-box {
        $in-row: 2;
        $ratio: calc(
                (100vw - $spc * calc($in-row - 1)) /
                ($in-row * $golden-ratio-n-2)
        );

        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - ($ratio * $in-row));
        margin-top: $spc;
        padding-bottom: $spc;
    }

    /*
        Margin between left and right element
        2n*1 -> the first one in two elements line
    */
    .result-container:not(:nth-child(2n + 1)) {
        margin-left: $spc;
    }
    /*
        Margin above elements, but starting with 3rd one (n+3)
        n+4 means line with 3 elements
    */
    .result-container:nth-child(n + 3) {
        margin-top: $spc;
    }
}
/* Upper than 1400px */
@media all and (min-width: 1400px) {
    .result-box {
        $in-row: 3;
        $ratio: calc(
                (100vw - $spc * calc($in-row - 1)) /
                ($in-row * $golden-ratio-n-2)
        );

        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - ($ratio * $in-row));
        margin-top: $spc;
        padding-bottom: $spc;
    }
    .result-container:not(:nth-child(3n + 1)) {
        margin-left: $spc;
    }
    .result-container:nth-child(n + 4) {
        margin-top: $spc;
    }
}

/*
    Result found and defined by your query
    inside search bar.

    result-container
        result-image
        result-label
            result-description
            result-button
*/
.result-box {
    $in-row: 3;
    $ratio: calc(
            (100vw - $spc * calc($in-row - 1)) /
            ($in-row * $golden-ratio-n-2)
    );

    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - ($ratio * $in-row));
    margin-top: $spc;
    padding-bottom: $spc;

    .result-container {
        $w: calc($ratio * $phi-n);
        $h: calc($w / $phi-n);

        width: $w;
        height: $h;
        background-color: v.$spring-wood;
        /* box-shadow: 0 0 2px 2px; */
        display: flex;

        transform: scale(1);
        transition: v.$major-time;

        border-radius: v.$minor-rem;

        .result-image {
            width: $h;
            height: $h;

            img {
                width: $h;
                height: $h;
                object-fit: cover;
                border-radius: v.$minor-rem 0 0 v.$minor-rem;
            }
        }

        .result-label {
            .result-description {
                $hd: calc($h / $phi-n);
                width: $hd;
                height: $hd;
                background-color: v.$shady-lady;
                border-top-right-radius: v.$minor-rem;

                .result-title {
                    $htt: calc($hd - ($hd / $phi-n));

                    width: $hd;
                    height: $htt;
                    padding: calc($spc / 2);

                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    white-space: break-spaces;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                .result-text {
                    $htx: calc($hd / $phi-n);

                    width: $hd;
                    height: $htx;
                    font-size: calc(1em / $phi-n);
                    /* font-weight: 700; */
                    padding: calc($spc / 2);

                    span {
                        display: block;
                        text-align: center;
                    }

                    span:first-child {
                        color: green;
                    }

                    span + span {
                        color: crimson;
                    }
                }
            }

            .result-button {
                $wb: calc($w - $h);
                $hb: calc($h / $phi-n); /* hb = h - hd */

                width: $wb;
                height: calc($h - $hb);
            }
        }
    }

    .result-container:hover {
        box-shadow: 0 0 $spc $spc v.$spring-wood;

        transform: scale($phi-n);
        transition: v.$major-time;
        z-index: 2;
    }
}

#adder {
    padding: 2em 0;

    > div:nth-child(1) {
        margin-bottom: 0.5em;

        p {
            margin: 0 !important;
        }
    }
}

@include m.respond(mobile) {
    .result-box {
        display: block;
        width: 100%;

        .result-container {
            width: 100%;
            height: unset;
            aspect-ratio: v.$phi / 1;

            transform: unset;
            transition: unset;

            &:hover {
                box-shadow: unset;

                transform: unset;
                transition: unset;
                z-index: unset;
            }

            .result-image {
                width: 61%;
                height: 102%; // I know, it's weird, but it works... Sometimes a magic is needed (:

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .result-label {
                width: 39%;
                height: unset;
                aspect-ratio: 1/ v.$phi;

                .result-description {
                    width: 100%;
                    height: unset;
                    aspect-ratio: 1 / 1;

                    .result-title {
                        width: 100%;
                        height: 3.5rem;
                    }

                    .result-text {
                        width: 100%;
                        height: calc(100% - 3.5rem);
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;

                        > span {
                            font-size: 1.3em;
                        }

                        > div {
                            display: none !important;
                        }
                    }
                }

                .result-button {
                    width: 100%;
                    height: unset;
                    aspect-ratio: 1 / v.$phi-major-frac;
                }
            }
        }
    }
}