.search-ingredient-category {
    width: 50%;

    .search-ingredient-category__title {
        font-weight: 800;
    }

    .search-ingredient-category__list {
        display: flex;
        flex-wrap: wrap;

        .search-ingredient-category__ingredient + .search-ingredient-category__ingredient {
            margin-left: 8px;
        }

        .search-ingredient-category__ingredient {
            input:checked ~ label {
                font-weight: 700;
            }
        }
    }
}