@use '@/styles/variables' as v;

@import '@/styles/components/common/buttons/button.module';

.registration-box {
    margin: v.$major-rem 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    .registration-box__form-container {
        width: v.$minor-cent;
    }

    .registration-box__img-container {
        width: v.$major-cent;
        margin-left: 10%;

        img {
            width: 100%;
            border-radius: v.$minor-cent v.$major-cent v.$minor-cent v.$major-cent;
        }
    }
}