@import '@/styles/constants';

.registration-form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        text-align: center;
        margin-bottom: $e-rem;
    }

    // for each controls and other elements inside the form
    > * {
        margin: 1rem 0 !important;
    }

    // Last control from form
    > div:last-of-type {
        margin-bottom: $major-rem !important;
    }

    .account-creating-notification-text {
        text-align: justify;
    }
}