@import '@/styles/constants';

.registration-form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        text-align: center;
        margin-bottom: $e-rem;
    }

    // for each controls and other elements inside the form
    > * {
        margin: 1rem 0 !important;
    }

    .registration-form-container {
        margin-top: calc(2 * $major-rem) !important;

        .account-creating-notification-text {
            text-align: justify;
            margin-top: $major-rem;
        }
    }
}