.recipe-form {
    > h4 {
        text-align: center;
    }

    .error-container {
        color: #d32f2f;
        text-align: center;
        font-size: .75rem;
    }

    .center-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}