@use '@/styles/variables' as v;
@use '@/styles/functions' as f;
@use '@/styles/mixins' as m;

.recommendations-error {
    text-align: center;
}

.recommendations-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .recommendations-nearby {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 12;

        > * {
            width: 33%;
        }

        .recommendations-current {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .recommendations-select-container {
            padding-top: 1rem;

            .recommendations-select__text-information {
                margin-top: 1rem;
                text-align: center;
            }
        }

        .recommendations-container__proposal {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .recommendations-container__proposal-image {
                display: flex;
                justify-content: center;
                align-items: center;

                .recommendations-container__proposal-image-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 462px;
                    height: 462px;

                    img {
                        height: calc(231px * 2);
                        //box-shadow: 0 0 4px 4px black;
                        border-radius: f.golden-size(2);
                    }
                }
            }

            .recommendations-container__proposal-header-container {
                width: 75%;

                &:nth-child(2) {
                    height: 125px;
                }

                .recommendations-container__proposal-header {
                    @include m.max-lines(3);
                    margin-top: 1rem;
                }
            }
        }
    }

    .recommendations-container__navigator {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        margin: 0 .5% .5% .5%;
        padding: v.$major-rem;
        background-color: v.$spring-wood;
        border-radius: 16px;

        button + button {
            margin-left: 1rem;
        }
    }
}

@include m.respond(mobile) {
    .recommendations-container {
        .recommendations-nearby {
            flex: 1;

            .recommendations-current {
                width: 100% !important;
            }

            > .recommendations-container__proposal {
                display: none;
            }

            .recommendations-container__proposal {
                .recommendations-container__proposal-header-container {
                    width: 75%;

                    &:nth-child(2) {
                        height: unset;
                    }

                    .recommendations-container__proposal-header {
                        @include m.max-lines(2);
                    }
                }

                .recommendations-container__proposal-image {
                    .recommendations-container__proposal-image-container {
                        $margin: 2 * v.$minor-rem;

                        width: calc(100vw - $margin);
                        aspect-ratio: 1 / 1;
                        height: unset;

                        // Result image class
                        > div {
                            width: 100%;
                            height: 100%;

                            img {
                                border-radius: v.$minor-rem !important;
                                width: 100%;
                                aspect-ratio: 1 / 1;
                                height: unset;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }

        .recommendations-container__navigator {
            flex: unset;
            margin: v.$minor-rem;
            padding: v.$minor-rem;
        }
    }
}