@import '@/styles/constants';
@import '@/styles/palette';

.information-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 8rem;

    &:nth-child(2n + 2) {
        background-color: $spring-wood;
    }

    .information-screen__details-container {
        width: $major-cent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            text-shadow: 2px 2px 2px $abbey, -3px 6px 5px $cod-gray;
            color: $black;
        }

        p {
            margin-top: 1rem;
        }
    }

    .information-screen__image-container {
        width: $minor-cent;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            width: calc(1920px / 3);
            height: calc(1280px / 3);
            border-radius: 2.7rem;
            background-clip: border-box;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            &[data-image-name="insane-easy"] {
                background-image: url('/fridge_1920.jpg');
            }

            &[data-image-name="dishes"] {
                background-image: url('/dishes_1920.jpg');
            }

            &[data-image-name="community"] {
                background-image: url('/integrate_1920.jpg');
            }
        }
    }
}