@import '@/styles/globals-colors.scss';

.information-screen {
    width: 100vw;
    height: 100vh;
    background-color: $black-overlay-color;

    &[data-image-name="insane-easy"] {
        background: url('/fridge_1920.jpg') fixed;
    }

    &[data-image-name="dishes"] {
        background: url('/dishes_1920.jpg') fixed;
    }

    &[data-image-name="community"] {
        background: url('/integrate_1920.jpg') fixed;
    }

    .information-screen__overlay {
        background-color: $black-overlay-color;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .information-screen-box {
        background-color: $blue-de-france-alpha;
        text-shadow: 2px 2px 2px grey, -3px 6px 5px $blue-de-france;
        color: $honey-yellow;
        padding: 1em 2em;
        border-radius: 1em;

        h3, p {
            text-align: center;
        }
    }
}