@import "@/styles/globals-colors";

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: $orange-yellow-crayola;

    .not-found__info {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}