@import '@/styles/palette';
@import '@/styles/constants';

.welcome-screen {
    width: 100vw;
    height: 100vh;

    .welcome-screen__panel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $spring-wood;
        width: 100%;
        height: 100%;

        .welcome-screen__panel-content {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            .welcome-screen__panel-content-details,
            .welcome-screen__panel-content-image {
                width: 50%;
                height: 100%;
            }

            .welcome-screen__panel-content-details {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;

                margin-left: 4rem;

                > h2 {
                    margin-bottom: calc(3 * $major-rem);
                }

                > p {
                    line-height: $major-rem;
                    width: $major-cent;
                }

                .main-navigator-container {
                    margin-top: calc(4 * $major-rem);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a + a {
                        margin-left: $major-rem;
                    }
                }
            }

            .welcome-screen__panel-content-image {
                background-image: url('/vegetables-in-bowl.webp');
                background-position-y: 50%;
                background-position-x: right;
                background-size: contain;
                background-repeat: no-repeat;

                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
            }
        }
    }
}