@import '@/styles/palette';
@import '@/styles/constants';

.button {
    background-color: $chilean-fire;
    color: $white;
    border: 2px solid $chilean-fire;
    border-radius: 1em;
    padding: 0.5em 2em;

    align-items: center;
    justify-content: center;

    box-shadow: rgb(0 0 0 / 0) 0 0 5px 2px;
    transition: $minor-time;
}

.button:hover {
    background-color: $white;
    color: $chilean-fire;
    border: 2px solid $chilean-fire;

    cursor: pointer;

    box-shadow: rgb(0 0 0 / 23%) 0 0 5px 2px;
    transition: $minor-time;
}

.button:disabled,
.button--disabled {
    opacity: $major-phi;
    cursor: not-allowed !important;
}

a.button {
    text-decoration: none;
}