@use '@/styles/variables' as v;

.button {
    background-color: v.$chilean-fire;
    color: v.$white;
    border: 2px solid v.$chilean-fire;
    border-radius: 1em;
    padding: 0.5em 2em;

    align-items: center;
    justify-content: center;

    box-shadow: rgb(0 0 0 / 0) 0 0 5px 2px;
    transition: v.$minor-time;
}

.button:hover {
    background-color: v.$white;
    color: v.$chilean-fire;
    border: 2px solid v.$chilean-fire;

    cursor: pointer;

    box-shadow: rgb(0 0 0 / 23%) 0 0 5px 2px;
    transition: v.$minor-time;
}

.button:disabled,
.button--disabled {
    opacity: v.$major-phi;
    cursor: not-allowed !important;
}

a.button {
    text-decoration: none;
}