@import '@/styles/globals-colors';

.form-control {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        text-align: center;
    }

    .form-control-container {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        .form-control-container-wrapper {
            display: flex;
            flex-direction: column;

            > p {
                margin-top: .3rem;
            }
        }
    }

    .form-control-container + .form-control-container {
        margin-top: 1rem;
    }
}
