@use '@/styles/variables' as v;

.dish-rating {
    margin: v.$minor-rem 0 v.$major-rem 0;

    .dish-rating-stars {
        color: #f9f900;
    }

    .dish-rating__rating {
        display: flex;

        .rate-count {
            margin: .1rem .3rem 0 .1rem;
        }

        :last-child {
            margin-top: .1rem;
        }
    }

    .dish-rating-user {
        margin: 1rem 0;
    }
}