@import "@/styles/globals-colors";

.manage-page {
    background-color: $orange-yellow-crayola;
    padding: 16px 10%;
    flex: 1;

    .item-list {
        margin: 16px 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

.object-container {
    background-color: $orange-yellow-crayola;
    padding: 16px 10%;
    flex: 1;

    .back-link {
        margin: 16px 0;
    }

    .object-table {
        width: 100%;

        tr {
            border: 1px solid;
        }

        th, td {
            padding: 4px;
        }

        .object-table__action {
            width: 15%;
            text-align: center;
        }
    }
}