@import "@/styles/globals-colors";

.manage-page {
    background-color: $orange-yellow-crayola;
    padding: 16px 10%;
    flex: 1;

    .item-list {
        margin: 16px 0;
    }

    ul {
        margin: 0;
        padding: 0;

        display: flex;
        flex-wrap: wrap;

        li {
            width: 256px;
            height: 256px;
            margin: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            background-color: $honey-yellow;
            transition: 382ms;

            a {
                color: black;
                text-decoration: none;

                div {
                    .item-text {
                        text-align: center;
                        font-style: italic;
                        font-weight: 700;
                    }

                    .item-description {
                        text-align: center;
                        font-style: italic;
                    }
                }
            }
        }

        li:hover {
            background-color: $honey-yellow-alpha;
            transition: 618ms;
        }
    }
}

.object-container {
    background-color: $orange-yellow-crayola;
    padding: 16px 10%;
    flex: 1;

    .back-link {
        margin: 16px 0;
    }

    .object-table {
        width: 100%;

        tr {
            border: 1px solid;
        }

        th, td {
            padding: 4px;
        }

        .object-table__action {
            width: 15%;
            text-align: center;
        }
    }
}