@import '@/styles/constants';
@import '@/styles/palette';

.dish-creator-form {
    .dish-creator-form-content-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-content: center;

        .dish-creator-form__dish-image {
            .dish-creator-form__dish-image-background {
                width: 100%;
                display: flex;
                aspect-ratio: 1 / 1;
                border-radius: $minor-rem;

                // .result-image class
                > div {
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: $minor-rem;
                }
            }

            .dish-creator-form__dish-image-selector-container {
                display: inline-flex;
                justify-content: center;
                margin: $major-rem 0 $major-rem 0;
                width: 100%;
                gap: $minor-rem;

            }

            .dish-creator-form__dish-image-result-container {
                margin: 0 $minor-rem;
            }
        }

        .dish-creator-form__dish-details {
            padding: 2rem;

            // FIXME: What's a mess below... O.O

            > * {
                margin-bottom: $major-rem;
            }

            .dish-creator-form__dish-details__general {
                > * {
                    margin: $major-rem 0;
                }

                .dish-creator-form__dish-details__general-types {
                    > * {
                        margin: $major-rem 0;
                    }
                }
            }
            .dish-creator-form__dish-details__description {
                > * {
                    margin: $major-rem 0;
                }
            }
            .dish-creator-form__dish-details__ingredients {
                margin: calc($major-rem * 2) 0;
            }
            .dish-creator-form__dish-details__recipe {
                margin: $major-rem 0;
            }
        }
    }

    .dish-creator-form__button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: $major-rem 0;
        flex-direction: column;
        gap: $major-rem;
    }
}