@use '@/styles/variables' as v;
@use '@/styles/functions' as f;

.dish-creator-form {
    .dish-creator-form-content-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-content: center;

        .dish-creator-form__dish-image {
            .dish-creator-form__dish-image-background {
                width: 100%;
                display: flex;
                aspect-ratio: 1 / 1;
                border-radius: v.$minor-rem;

                // .result-image class
                > div {
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: v.$minor-rem;
                }
            }

            .dish-creator-form__dish-image-selector-container {
                display: inline-flex;
                justify-content: center;
                margin: v.$major-rem 0 v.$major-rem 0;
                width: 100%;
                gap: v.$minor-rem;

            }

            .dish-creator-form__dish-image-result-container {
                margin: 0 v.$minor-rem;
            }
        }

        .dish-creator-form__dish-details {
            padding: 2rem;

            // FIXME: What's a mess below... O.O

            > * {
                margin-bottom: v.$major-rem;
            }

            .dish-creator-form__dish-details__general {
                > * {
                    margin: v.$major-rem 0;
                }

                .dish-creator-form__dish-details__general-types {
                    > * {
                        margin: v.$major-rem 0;
                    }
                }
            }
            .dish-creator-form__dish-details__description {
                > * {
                    margin: v.$major-rem 0;
                }
            }
            .dish-creator-form__dish-details__ingredients {
                margin: f.golden-size(2) 0;
            }
            .dish-creator-form__dish-details__recipe {
                margin: v.$major-rem 0;
            }
        }
    }

    .dish-creator-form__button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: v.$major-rem 0;
        flex-direction: column;
        gap: v.$major-rem;
    }
}