// Palette
$white: #FFFFFF;
$spring-wood: #F3EEE7;
$shady-lady: #9A999A;
$schooner: #877E7A;
$abbey: #505053;
$shark: #2C2C2F;
$cod-gray: #090708;
$black: #000000;

$chilean-fire: #F36406;
$cinnabar: #E64E30;
$terracotta: #DD6C54;
$tonys-pink: #E39988;
$romantic: #FED8BF;
$tuft-bush: #FED5C4;
$provincial-pink: #FEF8F6;

// Constants
$major-time: 618ms;
$minor-time: 382ms;

$major-phi: 0.618;
$minor-phi: 0.382;

$phi: 1.618;
$e: 2.71;

$major-cent: 61%;
$minor-cent: 39%;

$major-rem: 1.618rem;
$minor-rem: 0.618rem;

$e-rem: 2.71rem;