$major-time: 618ms;
$minor-time: 382ms;

$major-phi: 0.618;
$minor-phi: 0.382;

$phi: 1.618;
$e: 2.71;

$major-cent: 61%;
$minor-cent: 39%;

$major-rem: 1.618rem;
$minor-rem: 0.618rem;

$e-rem: 2.71rem;