$font-primary: var(--font-montserrat);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    //font-family: 'Montserrat', sans-serif !important;
    font-family: $font-primary, sans-serif !important;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}