$white: #FFFFFF;
$spring-wood: #F3EEE7;
$shady-lady: #9A999A;
$schooner: #877E7A;
$abbey: #505053;
$shark: #2C2C2F;
$cod-gray: #090708;
$black: #000000;

$chilean-fire: #F36406;
$cinnabar: #E64E30;
$terracotta: #DD6C54;
$tonys-pink: #E39988;
$romantic: #FED8BF;
$tuft-bush: #FED5C4;