@import '@/styles/palette';

.add-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: blue;
    transition: 300ms;
    user-select: none;

    &:hover {
        color: $tonys-pink;
        transition: 300ms;
    }

    &[data-disabled=true] {
        opacity: 0.618;
        cursor: not-allowed !important;
    }

    &[data-underline=true] {
        text-decoration: underline;
    }

    .label-container {
        display: flex;
        margin-left: .5rem;
    }
}