.add-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #3f51b5;
    transition: 300ms;
    user-select: none;

    &:hover {
        color: white;
        transition: 300ms;
    }

    .label-container {
        display: flex;
        margin-left: .5rem;
    }
}