@import '@/styles/palette';
@import '@/styles/constants';

.back-link {
    margin: 16px 0;
}

.back-link-bar {
    background-color: $spring-wood;
    border-radius: $minor-rem;
    padding: 1em;

    &[data-has-margin-around=true] {
        margin: $minor-rem;
    }

    &[data-only-margin-bottom=true] {
        margin: 0 0 0.5rem 0 !important;
    }

    > a > i {
        margin-right: 0.5em;
    }
}

.attached-back-link {
    position: absolute;
    top: 32px;
    left: 32px;
    margin: 0 !important;
}