@import '@/styles/palette';
@import '@/styles/constants';

.app-footer {
    background-color: $shark;
    color: $shady-lady;
    padding: 6rem 15%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .brand-container {
        > * + * {
            margin-top: $minor-rem;
        }
    }

    .section-container {
        height: 225px;

        li + li {
            margin-top: $minor-rem;
        }
    }
}
