@use '@/styles/variables' as v;

.app-footer {
    background-color: v.$shark;
    color: v.$spring-wood;
    padding: 6rem 15%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .brand-container {
        > * + * {
            margin-top: v.$minor-rem;
        }
    }

    .section-container {
        height: 225px;

        li + li {
            margin-top: v.$minor-rem;
        }
    }
}
