@import '@/styles/globals-colors.scss';

.app-footer {
    background-color: $cooper;

    >div {
        padding: 2rem 0;
        text-align: center;
    }

    .author-information {
        margin: 16px 0;
    }
}
