@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

    background-color: v.$white;

    &[data-background-transparent=true] {
        background-color: transparent;
    }

    .brand-container,
    .link-container,
    .user-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
    }

    .link-container {
        a + a {
            margin-left: 2rem;
        }
    }
}

@include m.respond(mobile) {
    .header-container {
        display: block;
        height: 15rem;

        .brand-container,
        .link-container,
        .user-container {
            width: 100%;
            margin: v.$minor-rem 0;
        }

        .link-container {
            display: block;

            a {
                display: block;
                width: 100%;
                margin-left: 0 !important;
                text-align: center;
            }

            a + a {
                margin-top: v.$minor-rem;
            }
        }
    }
}

#logo {
    margin: 0 1em;
}