@use '@/styles/variables' as v;

.progress-bar {
    border-radius: v.$minor-rem;
    width: 100%;
    height: v.$major-rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

    // Resetting default styles in all browsers
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden; // Remove rounded corners in some browsers

    // WebKit (Chrome, Safari, Edge)
    &::-webkit-progress-bar {
        background-color: transparent;
        border-radius: v.$minor-rem;
    }

    &::-webkit-progress-value {
        background: linear-gradient(90deg, v.$cinnabar 0%, v.$terracotta 100%);
        border-radius: v.$minor-rem;
    }

    // Firefox
    &::-moz-progress-bar {
        background: linear-gradient(90deg, v.$cinnabar 0%, v.$terracotta 100%);
        border-radius: v.$minor-rem;
    }
}
