@use '@/styles/variables' as v;

.page-link {
    text-decoration: none;
    transition: v.$minor-time;
    color: v.$abbey;

    &:hover {
        transition: v.$major-time;
        color: v.$shady-lady;
    }
}